:root {
  font-family: 'Urbanist', ui-sans-serif, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #0B1637;
}

* { box-sizing: border-box; }

body {
  margin: 0;
  min-width: 320px;
}

a { color: inherit; }
